.App {
  background-color: #282c34;
  min-height: 100vh;
 
  font-size: calc(10px + 2vmin);
  color: white;
}


.app-theme {
 background-color: #161616;
 border: 1px solid white;
 color: #fff;
 padding: 20px;
 margin-bottom: 50px;
 text-align: center;
}

.app-theme__title {
  text-transform: uppercase;
}


.app-theme__desc {
  font-size: 14px;
  text-transform: uppercase;
}


.app-content {
  margin: 20px;
}